<div class="box">
  <mat-toolbar class="row header">
    <button *ngIf="loggedIn$ | async" [matMenuTriggerFor]="menu" aria-label="Menu" class="example-icon"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>{{'application.title' | translate}} - {{currentTitle | translate}}</span>
    <span class="toolbar-spacer"></span>
    <ng-container *ngIf="hasPlayers$ | async">
      <mat-form-field class="dense-form-field player-select-field">
        <mat-label>{{'application.selected-player' | translate}}</mat-label>
        <mat-select class="player-select" (selectionChange)="playerSelected($event)">
          @for (player of (players$ | async); track player) {
            <mat-option [value]="player.id">{{player.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </ng-container>
    <button  *ngIf="loggedIn$ | async" [matMenuTriggerFor]="systemMenu" aria-label="System Menu" class="example-icon" mat-icon-button>
      <mat-icon>face</mat-icon>
    </button>
  </mat-toolbar>
  <div class="row content">
    <router-outlet></router-outlet>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button (click)="menuClicked('home')" mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>{{'menu.home' | translate}}</span>
  </button>
  <button *ngIf="isUser$ | async" [matMenuTriggerFor]="userMenu" mat-menu-item>
    <mat-icon>self_improvement</mat-icon>
    <span>{{'menu.user.title' | translate}}</span>
  </button>
  <button *ngIf="isAdmin$ | async" [matMenuTriggerFor]="adminMenu" mat-menu-item>
    <mat-icon>settings_system_daydream</mat-icon>
    <span>{{'menu.admin.title' | translate}}</span>
  </button>
</mat-menu>

<mat-menu #userMenu="matMenu">
  <button (click)="menuClicked('user-players')" mat-menu-item>
    <mat-icon>diversity_3</mat-icon>
    <span>{{'menu.user.players' | translate}}</span>
  </button>
  <button (click)="menuClicked('user-places')" mat-menu-item>
    <mat-icon>edit_location</mat-icon>
    <span>{{'menu.user.places' | translate}}</span>
  </button>
  <button (click)="menuClicked('user-vehicles')" mat-menu-item>
    <mat-icon>directions_transit</mat-icon>
    <span>{{'menu.user.vehicles' | translate}}</span>
  </button>
</mat-menu>

<mat-menu #adminMenu="matMenu">
  <button (click)="menuClicked('users')" mat-menu-item>
    <mat-icon>supervisor_account</mat-icon>
    <span>{{'menu.admin.users' | translate}}</span>
  </button>
  <button (click)="menuClicked('players')" mat-menu-item>
    <mat-icon>diversity_3</mat-icon>
    <span>{{'menu.admin.players' | translate}}</span>
  </button>
  <button (click)="menuClicked('map-templates')" mat-menu-item>
    <mat-icon>map</mat-icon>
    <span>{{'menu.admin.maps' | translate}}</span>
  </button>
  <button (click)="menuClicked('places')" mat-menu-item>
    <mat-icon>edit_location</mat-icon>
    <span>{{'menu.admin.places' | translate}}</span>
  </button>
  <button (click)="menuClicked('placeConnections')" mat-menu-item>
    <mat-icon>link</mat-icon>
    <span>{{'menu.admin.placeConnections' | translate}}</span>
  </button>
  <button (click)="menuClicked('vehicles')" mat-menu-item>
    <mat-icon>directions_transit</mat-icon>
    <span>{{'menu.admin.vehicles' | translate}}</span>
  </button>
  <button (click)="menuClicked('placeTypes')" mat-menu-item>
    <mat-icon>edit_location</mat-icon>
    <span>{{'menu.admin.placeTypes' | translate}}</span>
  </button>
  <button (click)="menuClicked('vehicleTypes')" mat-menu-item>
    <mat-icon>directions_car</mat-icon>
    <span>{{'menu.admin.vehicleTypes' | translate}}</span>
  </button>
</mat-menu>

<mat-menu #systemMenu="matMenu">
  <button (click)="menuClicked('info')" mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>{{'menu.about' | translate}}</span>
  </button>
  <button (click)="menuClicked('help')" mat-menu-item>
    <mat-icon>help_outline</mat-icon>
    <span>{{'menu.help' | translate}}</span>
  </button>
  <button (click)="logout()" [disabled]="!(loggedIn$ | async)" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'menu.logout' | translate}}</span>
  </button>
</mat-menu>
