.input-place-id { flex: 1 1 300px; }
.input-place-name { flex: 1 1 400px; }
.input-place-description { flex: 1 1 600px; }
.input-place-type { flex: 1 1 150px; }
.input-place-lat { flex: 0 1 150px; }
.input-place-long { flex: 0 1 150px; }
