<div class="app-full-height-page">
  <div class="vehicle-form-page">
    <div class="vehicle-form-container">
      <div class="vehicle-actions">
        <button mat-button (click)="onSave()" [disabled]="!form?.valid()">{{'button.save' | translate}}</button>
        <button mat-button (click)="onCancel()">{{'button.cancel' | translate}}</button>
      </div>
      <trains-vehicle-type-form #vehicleTypeForm *ngIf="vehicleType" [vehicleType]="vehicleType"
                         class="vehicle-form"
                         (valueChange)="vehicleTypeChanged($event)"></trains-vehicle-type-form>
    </div>
  </div>
</div>
