{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}
