@import 'styles';

.input-vehicle-name {
  width: 100%;
  max-width: 64rem;
}
.input-vehicle-type {
  width: 100%;
  max-width: 64rem;
}
.input-vehicle-description {
  width: 100%;
  max-width: 64rem;
}
.input-vehicle-content {
  width: 100%;
  max-width: 64rem;
}

.section-label {
  margin-left: 1rem;
}
