<div class="login-component center-screen">
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-card>
      <mat-card-content>
        <p>
          <mat-form-field  appearance="outline" style="width: 350px;">
            <mat-label>{{'page.login.email.label' | translate}}</mat-label>
            <input matInput type="text" id="email" formControlName="email" placeholder="pat@lotsoftrains.com"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" style="width: 350px;">
            <mat-label>{{'page.login.password.label' | translate}}</mat-label>
            <input matInput type="password" id="password" formControlName="password" class="form-control" />
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" class="btn btn-primary">
          {{'button.login' | translate}}
        </button>
        <button mat-raised-button routerLink="../register" class="btn btn-link">
          {{'button.register' | translate}}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
