<div class="app-full-height-page">
  <div class="vehicle-form-page">
    <div class="vehicle-form-container">
      <div class="vehicle-actions">
        <button mat-button (click)="onSave()" [disabled]="!form?.valid()">{{'button.save' | translate}}</button>
        <button mat-button (click)="onCancel()">{{'button.cancel' | translate}}</button>
      </div>
      <trains-vehicle-form #vehicleForm *ngIf="vehicle" [vehicle]="vehicle"
                                class="vehicle-form"
                                (valueChange)="vehicleChanged($event)"></trains-vehicle-form>
    </div>
  </div>
</div>
