<div class="app-full-height-page">
  <div class="place-connections-form-page">
    <div class="place-connections-form-container">
      <div class="place-connections-actions">
        <button mat-button (click)="onSave()" [disabled]="!form?.valid()">{{'button.save' | translate}}</button>
        <button mat-button (click)="onCancel()">{{'button.cancel' | translate}}</button>
      </div>
      <trains-place-connection-form #placeConnectionForm *ngIf="placeConnection" [placeConnection]="placeConnection"
                              class="place-connection-form"
                              (valueChange)="placeConnectionChanged($event)">
      </trains-place-connection-form>
    </div>
    <trains-custom-map class="place-connections-map" [options]="options" [layers]="markers$ | async"
      (mapChanged)="onMap($event)">

    </trains-custom-map>
  </div>
</div>
