@import 'styles';

.input-player-name {
  width: 100%;
  max-width: 64rem;
}

.input-player-description {
  width: 100%;
  max-width: 64rem;
}

.input-player-content {
  width: 100%;
  max-width: 64rem;
}
