@import 'styles';

:host {
  .name {
    width: 100%;
    max-width: 32rem;
  }

  .description {
    width: 100%;
    max-width: 32rem;
  }

  .content {
    width: 100%;
    max-width: 32rem;
  }
}
