<div class="app-full-height-page"
     (addConnectionClicked)="addConnectionClicked($event)"
     (addPlaceClicked)="addPlaceClicked($event)"
     (printClicked)="printClicked($event)"
     (fitClicked)="fitClicked($event)"
>
  <div class="map-templates-form-page">
    <div class="map-templates-form-container">
      <div class="map-templates-actions">
        <button mat-button (click)="onSave()" [disabled]="!form?.valid()">{{'button.save' | translate}}</button>
        <button mat-button (click)="onCancel()">{{'button.cancel' | translate}}</button>
      </div>
      <trains-map-template-form #mapTemplateForm *ngIf="map" [map]="map"
                                class="map-templates-form"
                                (valueChange)="mapChanged($event)"></trains-map-template-form>
      <hr />
      <div>
        <mat-label style="padding-left: 1rem">Places in the map</mat-label>
        <mat-list class="list">
          <mat-list-item *ngFor="let displayPlace of (currentMapPlaces$ | async)">
            <span class="list-text">{{displayPlace.place.name}}</span>
            <span *ngIf="displayPlace.added" class="material-symbols-outlined" style="color: green">add</span>
          </mat-list-item>
        </mat-list>
      </div>
      <hr />
      <div>
        <mat-label style="padding-left: 1rem">Place connections in the map</mat-label>
        <mat-list class="list">
          <mat-list-item *ngFor="let dpc of (currentMapPlaceConnections$ | async)">
            <span class="list-text">{{dpc.startPlace.name}} - {{dpc.endPlace.name}}</span>
            <span *ngIf="dpc.added" class="material-symbols-outlined" style="color: green">add</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <trains-custom-map
      class="map-templates-map"
      [options]="options"
      [layers]="[featureGroup]"
      (mapChanged)="onMap($event)"
      [customButtons]="customButtons$ | async"
    >
    </trains-custom-map>
  </div>
</div>
