<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Train Management</span>
  <span class="spacer"></span>
  @if (playerGame$ | async; as playerGame) {
    <span>Current: {{ playerGame }}</span>
  }
  <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #optionsMenu="matMenu">
    <button mat-menu-item routerLink="/settings/change-password">
      <mat-icon>settings</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>


<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="app-sidenav">
    <mat-nav-list>
      <mat-list-item class="menu-item" routerLink="/" routerLinkActive="active-link">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </mat-list-item>

      <mat-list-item class="menu-item" routerLink="/games" routerLinkActive="active-link">
        <mat-icon matListItemIcon>games</mat-icon>
        <span matListItemTitle>Games</span>
      </mat-list-item>

      <!-- <mat-divider></mat-divider> -->
      <div matSubHeader class="menu-subheader">Game Admin</div>
      @for (item of adminItems; track item.label) {
        <mat-list-item class="menu-item" [routerLink]="item.path" routerLinkActive="active-link">
          <span matListItemTitle>{{ item.label }}</span>
        </mat-list-item>
      }

      <!-- <mat-divider></mat-divider> -->
      <div matSubHeader class="menu-subheader">Admin</div>
      @for (item of userItems; track item.label) {
        <mat-list-item class="menu-item" [routerLink]="item.path" routerLinkActive="active-link">
          <span matListItemTitle>{{ item.label }}</span>
        </mat-list-item>
      }

      <!-- <mat-divider></mat-divider> -->
      <div matSubHeader class="menu-subheader">Misc</div>
      @for (item of miscItems; track item.label) {
        @if (item.action === 'logout') {
          <mat-list-item class="menu-item" (click)="onLogout()">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </mat-list-item>
        } @else {
          <mat-list-item class="menu-item" [routerLink]="item.path" routerLinkActive="active-link">
            <mat-icon matListItemIcon>settings</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </mat-list-item>
        }
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-content">
      <ng-content />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
