@import 'styles';

.input-place-name { 
  width: 100%; 
  max-width: 64rem;
}
.input-place-type { 
  width: 100%; 
  max-width: 64rem;
}
.input-place-description { 
  width: 100%; 
  max-width: 64rem;
}
.input-place-content { 
  width: 100%; 
  max-width: 64rem;
}
