@use '@angular/material' as mat;
@import "styles";

.toolbar-spacer {
  flex: 1 1 auto;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  height: 4rem;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.player-select-field {
  margin-top: 1.8rem;

  .player-select {
    width: 15rem;
  }
}
