<div class="app-full-height-page">
  <div class="player-form-page">
    <div class="player-form-container">
      <div class="player-actions">
        <button mat-button (click)="onSave()" [disabled]="!form?.valid()">{{'button.save' | translate}}</button>
        <button mat-button (click)="onCancel()">{{'button.cancel' | translate}}</button>
      </div>
      <trains-player-form #playerForm *ngIf="player" [player]="player"
                                class="player-form"
                                (valueChange)="playerChanged($event)"></trains-player-form>
    </div>
  </div>
</div>
