<div class="app-full-height-page">
  <div class="places-form-page">
    <div class="place-form-container">
      <div class="place-actions">
        <button mat-button (click)="onSave()" [disabled]="!form?.valid()">{{'button.save' | translate}}</button>
        <button mat-button (click)="onCancel()">{{'button.cancel' | translate}}</button>
      </div>
      <trains-place-form #placeForm *ngIf="place" [place]="place"
                         class="place-form"
                         (valueChange)="placeChanged($event)"></trains-place-form>
    </div>
    <trains-custom-map class="place-map"
                       [options]="options"
                       [layers]="markers"
                       (mapChanged)="onMap($event)"
    ></trains-custom-map>
  </div>
</div>
