:host {
  .map {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .places-form-page-actions {
    width: 100%;
  }

  .places-form-page {
    display: flex;
    flex-flow: row;
    height: 100%;
  }

  @media (max-width: 599px) {
    .places-form-page {
      flex-direction: column;
    }
  }

  .place-form-container {
    display: block;
    flex-flow: column;
  }

  .place-map {
    flex: 1 1 30rem;
  }

  .place-actions {
    flex: 0 0 2rem;
  }

  .place-form {
    flex: 1 1 20rem;
  }
}
